<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <main id="app">
    </main>

  </body>
  <script src="https://www.gstatic.com/firebasejs/3.6.7/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBhGfzYS9TsFgkVhE-Zjz2W6_V3qFOSXMw",
    authDomain: "peanut-butter-honey-time.firebaseapp.com",
    databaseURL: "https://peanut-butter-honey-time.firebaseio.com",
    storageBucket: "peanut-butter-honey-time.appspot.com",
    messagingSenderId: "448846777563"
  };
  firebase.initializeApp(config);
</script>

  <script src="dist/bundle.js" charset="utf-8"></script>
</html>
