<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <main id="app">
    </main>

  </body>
  <script src="dist/bundle.js" charset="utf-8"></script>
</html>
